<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="addNew" method="post">
        <table>
            <tr>
                <td>Enter Department Number</td>
                <td><input type="number" name="deptno" id="deptno"></td>
            </tr>
            <tr>
                <td>Enter Department Name</td>
                <td><input type="text" name="dname" id="dname"></td>
            </tr>
            <tr>
                <td>Enter Location</td>
                <td><input type="text" name="loc" id="loc"></td>
            </tr>
            <tr>
                <td><button type="submit">Add Department</button></td>
            </tr>
        </table>
    </form>
</body>
</html>