<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table {
            background-color: burlywood;
            color: black;
            border: solid burlywood;
            margin: 5px;
        }

        button {
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            background-color: #007bff;
            color: #fff;
            cursor: pointer;
        }

        button:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <form action="update" method="post">
        <table>
            <tr>
                <td>Department Number</td>
                <td><input type="number" name="deptno" id="deptno" readonly value=<%=deptdata[0].DEPTNO%>></td>
            </tr>
            <tr>
                <td>Department Name</td>
                <td><input type="text" name="dname" id="dname" value=<%=deptdata[0].DNAME%>></td>
            </tr>
            <tr>
                <td>Location</td>
                <td><input type="text" name="loc" id="loc" value=<%=deptdata[0].LOC%>></td>
            </tr>
            <tr>
                <td><button type="submit">Update Department</button></td>
            </tr>
        </table>
    </form>
</body>
</html>